@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1140px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 920px) {
  .menuButton {
    display: block;
  }
  .topMenu__outer {
    display: none;
    order: 10;
    width: 100%;
  }
  .topMenu {
    flex-direction: column;
    padding: 20px 0;
    align-items: flex-end;
  }
  .topMenu li {
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }
  .logo1 {
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 480px) {
  .logo1 {
    width: 80px;
  }
  .header__phone span {
    font-size: 1.25rem;
  }

  .header__phone span:first-child {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 400px) {
}

@media only screen and (max-width: 320px) {
}
