.header__area {
  width: 100%;
  background-image: url(../img/bg5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__area_main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  flex-wrap: wrap;
}

.logo1 {
  width: 200px;
}

.logo1 a {
  text-decoration: none;
}

.logo1 img {
  display: block;
  width: 100%;
}

.topMenu__outer {
  position: relative;
}

.topMenu {
  display: flex;
}

.topMenu li {
  list-style: none;
  padding: 0 15px;
}

.topMenu li a {
  color: #fff;
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
}

.topMenu li a:after {
  content: "";
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 2px;
  background: #fff;
  transition: all 0.3s;
}

.topMenu li:hover a:after {
  width: 100%;
  left: 0;
}

.topMenu li.active a {
  color: var(--orange);
}

.topMenu li.active a:after {
  display: none;
}

.header__phoneArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  text-decoration: none;
  color: #fff;
}

.header__phone span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--orange);
}

.header__phone span:first-child {
  font-size: 1rem;
  color: #fff;
  margin-right: 4px;
  font-weight: 400;
}
.header__phone span:last-child {
  font-size: 1.25rem;
  color: #fff;
  margin-left: 4px;
  font-weight: 400;
}

.menuButton {
  background: var(--orange);
  border-radius: 2px;
  width: 32px;
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
  z-index: 2000;
}

.menuButton span {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background: #000;
  opacity: 1;
  left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menuButton span:nth-child(1) {
  top: 6px;
}

.menuButton span:nth-child(2) {
  top: 15px;
}

.menuButton span:nth-child(3) {
  top: 24px;
}

.menuButton.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menuButton.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.menuButton.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
