.white__area {
  position: relative;
  width: 100%;
}

.white__outer {
  position: relative;
}

.white {
  padding: 20px 0 10px;
}

.innerBox {
  width: 100%;
  padding: 10px 0 10px;
  border-top: 2px solid var(--orange);
  margin-top: 20px;
}

.gallery {
  margin: 0 -5px;
  display: flex;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
}

.gallery__item {
  width: 16.666%;
  padding: 5px;
}

.gallery__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.gallery__item a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(112, 112, 112, 0.6);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/zoom.png);
  opacity: 0;
  transition: all 0.5s;
}

.gallery__item a:hover:after {
  opacity: 1;
}

.gallery__item a img {
  display: block;
  width: 100%;
  transition: all 0.5s;
  /* object-fit: cover;
  flex: 1; */
}

.gallery__item a:hover img {
  -webkit-transform: rotateZ(5deg) scale(1.1);
  -ms-transform: rotateZ(5deg) scale(1.1);
  transform: rotateZ(5deg) scale(1.1);
}

.videoBox__area {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  justify-content: center;
}

.videoBox__outer {
  padding: 5px;
  width: 50%;
}

.videoBox {
  position: relative;
}

/* .videoBox:hover {

} */

.videoBox a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(112, 112, 112, 0.6);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/play.png);
  opacity: 0;
  transition: all 0.3s;
}

.videoBox a:hover:after {
  opacity: 1;
}

.videoBox a {
  display: block;
}

.videoBox a img {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.intro__area {
  position: relative;
}

.intro__outer {
  position: relative;
  margin-bottom: 20px;
}

.intro {
  display: flex;
  align-items: center;
  background: var(--orange);
  padding: 2rem;
}

.intro__txt {
  width: 70%;
  padding-right: 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.intro__img {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro__img img {
  display: block;
  width: 100%;
}
