- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    .firstScreen__area
      .firstScreen__outer(style="background-image: url(assets/img/bg1.jpg)")
        .firstScreen
          .firstScreen__slogan
            span Производство судебных
            span.orange экспертиз
          .slider__mouse.go_to1
    .header__area.header__area_main
      +header

  .site__center.go_adr1
    .wideSlogan__area
      .wideSlogan__outer.w1
        .wideSlogan
          span 
            | Экспертиза - основа 
            .orange судебного
            | решения
    .about__area
      .about__outer
        .about
          .about__inner
            h1 Экспертный центр Девайс
            p ООО «Экспертный центр Девайс» является одним из ведущих учреждений в сфере производства судебных и досудебных экспертиз. 
            p В штате нашей организации работают высококвалифицированные эксперты, имеющие специальное профессиональное образование, подтвержденное государственными дипломами и сертификатами. Многие имеют ученые степени в различных областях наук. 
            p Огромный практический опыт наших экспертов в проведении исследовательских и экспериментальных работ и значительный опыт проведения судебных экспертиз позволяет нашему центру качественно и плодотворно сотрудничать с судебными органами.
    .serv__area
      .serv__outer.w1
        h2 Наши услуги
        .serv.serv_main
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
        a.link1(href="") Все услуги
    .expert__area
      .expert__outer.w1
        h2 Наши эксперты
        .expert.expert_main
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
        a.link2(href="") Все специалисты
    .phoneLine__area
      .phoneLine__outer.w1
        .phoneLine
          .phoneLine__slogan
            | Нужна 
            span.orange экспертиза?
            |  Звоните:
          a.phoneLine__link(href="")
            span.orange 8 (8452)
            | 93-30-88
    .mainContacts__area
      .mainContacts__outer.w1
        .mainContacts
          .mainContacts__left
            h3 Наш адрес
            .content
              p г. Саратов, ул. Октябрьская 44, офис №6
              p <i>(пересечение Октябрьской и Московской, вход с ул. Соляной)</i>
          .mainContacts__right
            .map__area
              #map
    

  .site__footer
    +footer

  .toTop
    i.icon-up1



    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
  +scripts
  