- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer




<!DOCTYPE html>
html(lang="ru-RU")
  +head
body

  .site__header
    .firstScreen__area
      .firstScreen__outer(style="background-image: url(assets/img/bg1.jpg)")
        .firstScreen
          .firstScreen__slogan
            span Производство судебных
            span.orange экспертиз
          .slider__mouse.go_to1
    +header

  .site__center.go_adr1
    .wideSlogan__area
      .wideSlogan__outer.w1
        .wideSlogan
          span Экспертиза - основа 
          .orange судебного
          span решения
    .about__area
      .about__outer.w1
        .about
          .about__inner
            h1 Экспертный центр Девайс
            p ООО «Экспертный центр Девайс» является одним из ведущих учреждений в сфере производства судебных и досудебных экспертиз. 
            p В штате нашей организации работают высококвалифицированные эксперты, имеющие специальное профессиональное образование, подтвержденное государственными дипломами и сертификатами. Многие имеют ученые степени в различных областях наук. 
            p Огромный практический опыт наших экспертов в проведении исследовательских и экспериментальных работ и значительный опыт проведения судебных экспертиз позволяет нашему центру качественно и плодотворно сотрудничать с судебными органами.
    .serv__area
      .serv__outer.w1
        h2 Наши услуги
        .serv
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств
              .serv__itemLink Подробнее
          .serv__itemOuter
            a.serv__item(href="")
              .serv__itemImg
                img(src="assets/img/serv/01.jpg", alt="")
              .serv__itemTitle Технические экспертизы электронных устройств 
              .serv__itemDesc Экспертизы сложных технических устройств на предмет выявления заводского брака и т.п.
              .serv__itemLink Подробнее
        a.link1(href="") Все услуги
    .expert__area
      .expert__outer.w1
        h2 Наши эксперты
        .expert
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
          .expert__itemOuter
            a.expert__item(href="")
              .expert__itemImg
                img(src="assets/img/experts/01.jpg", alt="")
              .expert__itemSurname Сурнин
              .expert__itemName Аркадий Анатольевич
              .expert__itemDesc Ведущий эксперт в области почерковедения, юрист, эксперт-криминалист
              .expert__itemWorkAge Стаж: 15 лет
        a.link2(href="") Все специалисты


  .site__footer
    +footer

  +scripts
  